  ul {
    list-style-type: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3C3C3C;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #currTab {
    text-decoration-line: underline;
  }
  body {
    background-color:#3C3C3C;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    font-family: "Bakbak One", sans-serif;
  }
  .row {
    display: flex;
    position: relative;
  }
  .column {
    flex: 33.33%;
    padding: 10px;
  }
  video{
    filter: blur(6px);
    transform: scale(0.95);
    display: block;
    width: 100%; height: 400px; object-fit: cover;
    border: 1px solid black;
  }
  .grid-img{
    filter:none;
    transform: scale(0.95);
    width: 100%; height: 500px; object-fit: cover;
    border: 1px solid black;
  }
  .grid-container {
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 3fr)); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid {
    text-align: center;
  }
  img{
    filter: blur(4px);
    transform: scale(0.95);
    width: 100%; height: 400px; object-fit: cover;
    border: 1px solid black;
  } 
  .row .column .centered {
    position: absolute;
    width: 33%;
    top: 33%;
    flex: 33.33%;
    color: white;
    font-size: 4vw;
    text-align: center;
    /* font-weight: bold; */
  }
  .row .column .youtube {
    position: absolute;
    width: 33%;
    top: 40%;
    flex: 33.33%;
    color: white;
    font-size: 4vw;
    text-align: center;
    /* font-weight: bold; */

  }
  .row .column .insta {
    position: absolute;
    width: 33%;
    top: 40%;
    flex: 33.33%;
    color: white;
    font-size: 4vw;
    text-align: center;
    /* font-weight: bold; */
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  @media screen and (max-width: 900px){
    .grid-img{
      filter:none;
      transform: scale(0.95);
      width: 100%; height: 500px; object-fit: cover;
      
      border: 1px solid black;
    }
    .grid-container {
      /* grid-template-columns: repeat(auto-fill, minmax(150px, 3fr)); */
      display: grid;
      grid-template-columns: auto;
    }
    .row {
      display: flex;
      flex-direction: column;
      position: relative;
      
    }
    .column {
      flex: 33.33%;
      padding: 10px;
    }
    .row .column .centered {
      position: absolute;
      width: 100%;
      color: white;
      font-size: 5vw;
      top:14%;
      flex: 33.33%;
      text-align: center;
      /* font-weight: bold; */
      
    }
    .row .column .youtube {
      position: absolute;
      width: 100%;
      top: 48%;
      flex: 33.33%;
      color: white;
      font-size: 5vw;
      text-align: center;
      /* font-weight: bold; */
  
    }
    .row .column .insta {
      position: absolute;
      width: 100%;
      top: 82%;
      flex: 33.33%;
      color: white;
      font-size: 5vw;
      text-align: center;
      /* font-weight: bold; */
    }
  }
  @media screen and (max-width: 550px){
    video{
      filter: blur(6px);
      transform: scale(0.95);
      display: block;
      width: 200%; height: 300px; object-fit: cover;
      border: 1px solid black;
      margin-left: -50%;
    }
    .grid-img{
      filter: none;
      transform: scale(0.95);
      width: 220%; height: 400px; object-fit: cover;
      border: 1px solid black;
      margin-left: -60%;
    } 
    img{
      filter: blur(4px);
      transform: scale(0.95);
      width: 200%; height: 300px; object-fit: cover;
      border: 1px solid black;
      margin-left: -50%;
    } 
    .row {
      display: flex;
      flex-direction: column;
      position: relative;
      
    }
    .column {
      flex: 33.33%;
      padding: 10px;
      
    }
    .row .column .centered {
      position: absolute;
      width: 100%;
      color: white;
      font-size: 7vw;
      top:14%;
      flex: 33.33%;
      text-align: center;
      /* font-weight: bold; */
      
    }
    .row .column .youtube {
      position: absolute;
      width: 100%;
      top: 48%;
      flex: 33.33%;
      color: white;
      font-size: 7vw;
      text-align: center;
      /* font-weight: bold; */
  
    }
    .row .column .insta {
      position: absolute;
      width: 100%;
      top: 82%;
      flex: 33.33%;
      color: white;
      font-size: 7vw;
      text-align: center;
      /* font-weight: bold; */
    }
    form {
      display:flex;
      flex-direction: column;
      text-align: center;
      width: 24rem;
      gap: 1rem;
      margin-left: 8%;
      justify-content: center;  
    }
    .contact{
      display: grid;
      place-content : center;
      margin-left: 8%;
    }
    input,select,textarea{
      border: 1px solid black;
      padding: 1.4rem;
      width: 70%;
    }
    h1 {
      margin-left: -20%;
    }

  }
  h1{
    color:white;
    text-align: center;
    font-size: 350%;
  }
  label{
    color:white;
    text-align: left;
    font-size: 2vw;
  }
  #message{
    width: 30%;
    height: 4vw;
  }
  .contact{
    display: grid;
    place-content : center;
  }
  form {
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 24rem;
    gap: 1rem;
    justify-content: center;  
  }
  input,select,textarea{
    border: 1px solid black;
    padding: 1.4rem;
    
  }
  button{
    padding: 2px;
    width: 33.333%;
  }
